{% extends 'base/base_admin.html' %}
{% load static %}


{% block title %}
Drops
{% endblock title %}


{% block css %}

{% endblock css %}



{% block content %}
<div class="content-area">
    <div class="content-header">
        <h1 class="content-title">Drops</h1>
        <p class="content-subtitle">Gestiona los lanzamientos activos o futuros</p>
    </div>

    <div class="card text-center p-5 text-muted border-dashed">
        <h2>🚧 En proceso</h2>
        <p>Pronto podrás crear y administrar drops desde esta sección</p>
    </div>
</div>
{% endblock content %}



{% block js %}

{% endblock js %}