<section class="drop-about py-5">
    <div class="container">
        <div class="row align-items-center">
            <!-- VIDEO -->
            <div class="col-lg-6 mb-4 mb-lg-0">

                <div class="video-wrapper position-relative">
                    <video id="previewVideo" autoplay muted loop playsinline class="rounded shadow w-100"
                        poster="{{ drop.cover_image.url }}">
                        <source
                            src="https://www.dropbox.com/scl/fi/xjn5cstnuc67cpfouon5t/Entrevista-Final_2.mp4?rlkey=g662ypxxx3uvlwhtypdotkw25&st=0isyii8e&raw=1"
                            type="video/mp4">
                        Tu navegador no soporta la etiqueta de video.
                    </video>
                </div>


            </div>

            <!-- TEXTO -->
            <div class="col-lg-6">
                <h2 class="mb-4">Acerca de este Drop</h2>
                <div class="drop-description">
                    {{ drop.description|linebreaks }}
                </div>
            </div>
        </div>
    </div>
</section>