{% load static %}


<!-- {% block css %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
{% endblock css %} -->


<!-- Collection Section -->
<section class="collection-section">
    <div class="container">
        <div class="collection-header">
            <h2 class="collection-title">Collection Pieces</h2>
            <div class="dropdown filter-dropdown">
                <button class="filter-btn" type="button" data-bs-toggle="dropdown">
                    <i class="bi bi-funnel"></i>
                    <span>Filter by Category</span>
                    <i class="bi bi-chevron-down"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" onclick="filterProducts('all')">Todas las categorías</a></li>
                    <li><a class="dropdown-item" href="#" onclick="filterProducts('camisetas')">Camisetas</a></li>
                    <li><a class="dropdown-item" href="#" onclick="filterProducts('hoodies')">Hoodies</a></li>
                    <li><a class="dropdown-item" href="#" onclick="filterProducts('accesorios')">Accesorios</a></li>
                </ul>
            </div>
        </div>





        <div class="collection-grid" id="collectionGrid">

            {% for product in products %}
            <!-- Product Card 1 -->
            <div class="product-card" data-category="camisetas">
                <div class="product-image">
                    <div class="product-badge">Nuevo</div>

                    {% for img in product.images.all %}
                    <img src="{{img.image.url}}" alt="Camiseta Cicatrices que Brillan">

                    {% endfor %}


                </div>
                <div class="product-info">
                    <h4 class="product-name">{{product.name}}</h4>
                    <div class="product-price">CLP {{product.price}}</div>
                    <div class="product-sizes">

                        {% for s in product.product_sizes.all %}

                        <div class="size-option">{{s.size}}</div>

                        {% endfor %}



                    </div>
                    <a href="{% url 'cart:add_to_cart' product.id%}" class="btn add-to-cart-btn">
                        Agregar al Carrito
                    </a>
                </div>
            </div>

            {% endfor %}



        </div>
    </div>
</section>