<!-- adminpanel/templates/adminpanel/base_admin.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Panel de Administración{% endblock %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'adminpanel/css/admin.css' %}">
    {% block extra_head %}{% endblock %}
</head>

<body>
    <div class="admin-layout">
        {% include 'adminpanel/includes/sidebar.html' %}
        <div class="main-content">
            {% include 'adminpanel/includes/header.html' %}
            <div class="content-area" id="panel-content">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="{% static 'adminpanel/js/toggle_sidebar.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>

</html>