{% extends "base.html" %}
{% load static %}


{% block title %}
Home
{% endblock title %}

<!-- Estilos de la pagina -->
{% block css %}
<link rel="stylesheet" href="{% static 'home/css/styles.css' %}">
{% endblock css %}

<!-- todo| CONTENIDO PRICIPAL | -->
{% block content %}

<!-- Hero Carousel Section -->
{% include 'includes/home_carousel.html' %}

<!-- Featured Drops Section -->
{% include 'includes/home_last_drops.html' %}

<!-- Mission Statement Section -->
{% include 'includes/home_mission.html' %}

<!-- PopUp Modal Section -->
{% include 'includes/home_modal.html' %}


{% endblock %}

{% block js %}

<script src="{% static 'home/js/index.js' %}"></script>
{% endblock js %}