{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/mission.css' %}">
{% endblock css %}


<section class="mission-statement py-5 bg-light">
    <div class="container">
        <div class="row align-items-center">
            <!-- Imagen -->
            <div class="col-md-6 mb-4 mb-md-0">
                <img src="https://media.istockphoto.com/id/1318878330/es/foto/familia-rural-latinoamericana-frente-a-su-nueva-casa.jpg?s=612x612&w=0&k=20&c=8Ym8d3HiSrj8_voyl2TMdyKc6xl02zJpUMpT5uCMG6A="
                    class="img-fluid rounded shadow" alt="Nuestra misión">
            </div>

            <!-- Contenido -->
            <div class="col-md-6">
                <h2 class="display-5 fw-bold mb-4">Nuestra Misión y Visión</h2>

                <div class="mb-4">
                    <h5 class="text-dark fw-semibold"><i class="fas fa-bullseye me-2 text-primary"></i> Misión</h5>
                    <p>Seven Four Seven nace no solo para crear prendas urbanas con estilo y personalidad, sino también
                        para generar una comunidad que impulse un cambio positivo en la sociedad. A través de la marca
                        como plataforma, promovemos el crecimiento y potenciamos el talento de los más vulnerables.</p>
                </div>

                <div>
                    <h5 class="text-dark fw-semibold"><i class="fas fa-eye me-2 text-success"></i> Visión</h5>
                    <p>La meta no es solo crecer como marca dentro del mundo de la moda, sino también crear un impacto
                        real y significativo, en quienes ayudamos y en quienes nos ayudan a generar un impacto positivo.
                        Crear una cadena de impacto positivo, donde cada miembro de la comunidad sea la inspiración.</p>
                </div>
            </div>
        </div>
    </div>
</section>