{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/mission.css' %}">
{% endblock css %}

<section class="mission-statement py-5 bg-light">
    <div class=" container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="https://media.istockphoto.com/id/1318878330/es/foto/familia-rural-latinoamericana-frente-a-su-nueva-casa.jpg?s=612x612&w=0&k=20&c=8Ym8d3HiSrj8_voyl2TMdyKc6xl02zJpUMpT5uCMG6A="
                    class="img-fluid rounded" alt="Our Mission">
            </div>
            <div class="col-md-6">
                <h2 class="display-5 mb-4">More Than Clothing</h2>
                <p class="lead">SEVEN FOUR SEVEN amplifies marginalized voices through streetwear.</p>
                <p>Each collection partners with underrepresented artists and designers, sharing their stories and
                    supporting their craft. We dedicate 15% of all profits directly back to the communities featured in
                    our drops.</p>
                <div class="mt-4">
                    <a href="about.html" class="btn btn-dark me-2">Our Story</a>
                    <a href="impact.html" class="btn btn-outline-dark">Our Impact</a>
                </div>
            </div>
        </div>
    </div>
</section>