{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/mission.css' %}">
{% endblock css %}


<section class="mission-statement py-5 bg-light">
    <div class="container">
        <div class="row align-items-center">
            <!-- Imagen -->
            <!-- Imagen con lazy loading visual -->
            <div class="col-md-6 mb-4 mb-md-0 d-flex justify-content-center">
                <div class="lazy-img-wrapper mission-img-wrapper">
                    <div class="spinner"></div>
                    <img class="lazy-img mission-img rounded shadow" src="{% static 'home/img/silueta.jpg' %}"
                        data-src="{% static 'home/img/MissionVission_com.jpg' %}" alt="Nuestra misión">
                </div>
            </div>

            <!-- Contenido -->
            <div class="col-md-6">
                <h2 class="display-5 fw-bold mb-4">Nuestra Misión y Visión</h2>

                <div class="mb-4">
                    <h5 class="text-dark fw-semibold"><i class="fas fa-bullseye me-2 text-primary"></i> Misión</h5>
                    <p>Seven Four Seven nace no solo para crear prendas urbanas con estilo y personalidad, sino también
                        para generar una comunidad que impulse un cambio positivo en la sociedad. A través de la marca
                        como plataforma, promovemos el crecimiento y potenciamos el talento de los más vulnerables.</p>
                </div>

                <div>
                    <h5 class="text-dark fw-semibold"><i class="fas fa-eye me-2 text-success"></i> Visión</h5>
                    <p>La meta no es solo crecer como marca dentro del mundo de la moda, sino también crear un impacto
                        real y significativo, en quienes ayudamos y en quienes nos ayudan a generar un impacto positivo.
                        Crear una cadena de impacto positivo, donde cada miembro de la comunidad sea la inspiración.</p>
                </div>
            </div>
        </div>
    </div>
</section>