{% extends "base.html" %}
{% load static %}

{% block title %}Productos{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'product/css/products.css' %}">
{% endblock css %}

{% block content %}
<!-- Hero Section -->
{% include 'includes/product/product_hero.html' %}

<main class="products-container" id="productos">

    <!-- Filtros -->
    {% include 'includes/product/product_filter.html' %}
    <!-- Productos -->
    {% include 'includes/product/product_product.html' %}


</main>
{% endblock %}


{% block js %}
<script src="{% static 'product/js/product.js' %}"></script>

{% endblock js %}