<div class="products-wrapper">
    <div class="products-header">
        <p>Mostrando 6 productos</p>
        <div class="sort-dropdown">
            <select name="sort" id="sort">
                <option value="recientes">Más recientes</option>
                <option value="precio-asc">Precio: menor a mayor</option>
                <option value="precio-desc">Precio: mayor a menor</option>
                <option value="nombre">Nombre</option>
            </select>
        </div>
    </div>

    <div class="products-grid">
        <!-- Producto 1 -->

        {% for p in products %}

        <div class="product-card">
            <a href="{% url 'products:product_detail' p.id %}">
                <div class="product-images">

                    {% for img in p.images.all %}
                    <img src="{{ img.image.url }}" alt="{{ p.name }}" class="{% if forloop.first %}active{% endif %}">
                    {% endfor %}
                    <!-- Indicadores de puntos -->
                    <div class="image-indicators">
                        {% for img in p.images.all %}
                        <span class="indicator {% if forloop.first %}active{% endif %}" data-index="0"></span>
                        {% endfor %}

                    </div>

                </div>
            </a>
            <div class="product-info">
                <h3 class="product-name">{{p.name}}</h3>
                <p class="product-price">CLP {{p.price|floatformat:0}} </p>
                <div class="product-sizes">

                    {% for s in p.product_sizes.all %}

                    <button class="size-btn">{{s.size}}</button>

                    {% endfor %}
                </div>
                <button class="add-to-cart rounded-5">Agregar al carrito</button>
            </div>
        </div>

        {% endfor %}
    </div>

    <!-- <div class="pagination">
        <button class="page-btn active">1</button>
        <button class="page-btn">2</button>
        <button class="page-btn">3</button>
        <button class="page-btn next"><i class="fas fa-chevron-right"></i></button>
    </div> -->
</div>

<script>

</script>