{% load static %}
<section class="drops-hero"
    style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url({% static 'appx/images/drops-hero.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h1 class="display-3 text-white">Nuestros Drops</h1>
                <p class="lead text-light">Prendas exclusivas que muestran el potencial de talentos invisibilizados</p>
            </div>
        </div>
    </div>
</section>