{% extends "base.html" %}
{% load static %}


{% block title %}
{{drop.name}}
{% endblock title %}



{% block css %}

<link rel="stylesheet" href="{% static 'drop/css/detail.css' %}">

{% endblock css %}


{% block content %}
<!--Header-->
{% include 'includes/detail/detail_header.html' %}

<!-- Video y Descripcion -->

{% include 'includes/detail/detail_video_desc.html' %}

<!--Products-->

{% include 'includes/detail/detail_product.html' %}

{% endblock %}


{% block js %}
<script src="{% static 'drop/js/auto_play.js' %}"> </script>
{% endblock js %}