{% extends "base.html" %}
{% load static %}


{% block title %}
Carrito
{% endblock title %}



{% block css %}

<link rel="stylesheet" href="{% static 'cart/css/style.css' %}">

{% endblock css %}


{% block content %}
<div class="cart-container">
    <div class="cart-header">
        <h1><i class="fas fa-shopping-cart me-3"></i>Carrito de Compras</h1>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="cart-content">
                <div id="success-message" class="success-message">
                    <i class="fas fa-check-circle me-2"></i>
                    <span id="success-text"></span>
                </div>

                <!-- Items del carro -->

                {% include 'includes/item_cart.html' %}


            </div>

            <!-- <div class="action-buttons">
                <a href="#" class="action-btn">
                    <i class="fas fa-arrow-left me-2"></i>Seguir Comprando
                </a>
                <a href="#" class="action-btn secondary">
                    <i class="fas fa-heart me-2"></i>Guardar para después
                </a>
            </div> -->
        </div>

        <!-- Resumen de pédido -->

        {% include 'includes/summary_cart.html' %}


    </div>
</div>

{% endblock content %}